# WASAPI URL endpoint - end with slash
baseurl=https://example.org/

# WASAPI authentication URL
authurl=https://example.org/login

# Username for the WASAPI account we're connecting with
username=user

# Password for our account
password=pass

# WASAPI server account ID
accountId=1

# Destination directory for downloaded WARC files - end with slash
outputBaseDir=test/outputBaseDir/

# Checksum algorithm - allowed values are md5 and sha1
checksumAlgorithm=md5

# how many times to retry a download for each file (retries + 1 = total tries)
retries=3
